@model IEnumerable<BD_App.Models.CustomerRes>

@{
    ViewBag.Title = "Index";
}

<h2>Список клиентов с общей суммой по всем заказам</h2>

<p>
    @Html.ActionLink("Show clients", "Index", "Customers")
    <br />
    @Html.ActionLink("Show orders", "Index", "Orders")
    <br />
    @Html.ActionLink("Show products", "Index", "Products")
    
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.Categorry)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.SUM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUM)
        </td>
       
    </tr>
}

</table>
